.players-container{
    margin: 1rem;
    padding-bottom: 1rem;
}
.cards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color:  #188ed9;
    border: 2px solid black;
    border-radius: 1rem;
    padding:.5rem;
    margin: 1rem;
}
/*btn card*/
.btnCard{
        cursor:pointer;
}
.btnCard{
    animation: btn-animacion ease-in 2s  infinite; 
    -webkit-animation: btn-animacion ease-in 2s  infinite; 

}
.card :first-child{    
    color:black;
}
.card :last-child{
    color:white;
    font-size:.8rem;
}
/*btn play*/
.play{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.btnRed{
    font-size: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;    
    cursor: pointer;
    background-color: red;
    color:white;   
    padding: .5rem;
    
    /*animation: btn-animacion ease-in 2s  infinite; 
    -webkit-animation: btn-animacion ease-in 2s  infinite; */
    
}
.btnRed:hover{
   color: white;
   background-color: #188ed9;
}
/*board*/
.board{
    width: 25%;
   
    border-radius: 2rem;;    
    background-color:white;
    color: black;
    text-align: center;
    padding: 1rem 0;
    margin: .5rem 5rem;
}
.border-blue{
    border: .3rem solid #188ed9;
}
.border-yellow{
    border: .3rem solid yellow;
}
.not-active { 
    pointer-events: none; 
    cursor: default; 
    opacity:0.4;
} 
.active{ 
    pointer-events: auto; 
    cursor: pointer;
    opacity:1; 
} 
/*animations*/
@keyframes btn-animacion{   
    0%{
        transform: scale3d(1, 1, 1);
    }
    50%{
        transform: scale3d(1.1, 1.1, 1.1);
    }
    100%{
        transform: scale3d(1, 1, 1);     
    }        
}

